footer.footer {
/*  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;*/

  position:absolute;
  text-align: center;
  padding: 20px 0;
  bottom:0;
  width:100%;
  height:60px;   
  background: white;
  border-top: 1px solid #E5E5E5;*/
}
