<div class="container">
  <p>Kuliner Lezatku v1.0 beta |
    <a href="https://twitter.com/kulinerlezatku">@kulinerlezatku</a> |
    <a href="https://www.facebook.com/kulinerlezatku">Kuliner Lezatku</a>
  </p>
</div>
