<div class="navbar navbar-default navbar-static-top white-background" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
    </div>

    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav mtop-4per nav-menu-font" ng-repeat="item in nav.menu">
        <li class="reject-mtop-4per">
            <a ui-sref="{{item.state_main}}"><img class="img-brand" src="/assets/images/logo.jpg"></a>
        </li>  
        <li ui-sref-active="active" ng-hide="nav.isLoggedIn()">
            <a ui-sref="{{item.state_about}}">{{item.about}}</a>
        </li>     
        <li ui-sref-active="active" ng-hide="nav.isLoggedIn()">
            <a ui-sref="{{item.state_pricing}}">{{item.pricing}}</a>
        </li>
        <li ui-sref-active="active" ng-hide="nav.isLoggedIn()">
            <a ui-sref="{{item.state_contact_us}}">{{item.contact_us}}</a>
        </li>  
        <li ui-sref-active="active" ng-hide="nav.isLoggedIn()">
            <a ui-sref="{{item.state_faq}}">{{item.faq}}</a>
        </li> 
        <li ui-sref-active="active" ng-show="nav.isLoggedIn()">
            <a ui-sref="{{item.state_profile}}">{{item.profile}}</a>
        </li>  
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right mtop-4per log-font mright-1per">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li> 
        <li ng-show="nav.isLoggedIn()" class="reg-font"><p class="navbar-text">( Hello {{ nav.getCurrentUser().name }} )</p> </li>
        <li ng-show="nav.isLoggedIn() && nav.getCurrentUser().email != 'test@example.com'" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>