<div class="container">
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  	<h2 class="center-position brand-font">Tentang Kami</h2><br>
	  	<p class="indent-5 reg-font">
	  		<i>
			  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  	Kuliner lezatku merupakan sebuah wadah untuk membantu para pengusaha kuliner untuk memasarkan product makanan mereka lebih luas lagi. Bukan hanya itu dengan feature testimoni dari pelanggan maka pengusaha dapat tahu kelebihan dan kekurangan dari product mereka berdasarkan dari pendapat pelanggan, sehingga mereka dapat meningkatkan kualitas product yang mereka jual.
			  	<br>
			  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  	Jika makanan yang pengusaha jual memiliki testimoni positif yang sangat banyak melebihi yang lain, maka makanan yang pengusaha jual akan berada di jajaran top kuliner yang akan di tampilkan di homepage website kami. Dan untuk para pelanggan tentunya bisa sangat terbantu karena bisa tahu review makanan yang akan mereka pesan dari testimoni-testimoni orang yang pernah membeli makanan tersebut sebelumnya. 
			  	<br>
			  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  	Di sini juga pengusaha bisa mengaktifkan featured delivery jika memang pengusaha mau mengantarkan makanan mereka langsung ke pelanggan, semua transaksi di serahkan langsung kepada pihak penjual dan pembeli. Semoga dengan ini para pengusaha bisa memperluas usaha mereka dan para pelanggan bisa lebih terbantu dalam memilih makanan yang akan mereka beli.
	  		</i>
	  	</p>
	  </div>
	  <div class="col-md-1"></div>
	</div>
</div>