<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="center-position brand-font">Hubungi Kami</h2>
    </div>
    <div class="col-sm-12">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-8">
	      <form class="form" name="form" ng-submit="main.contactUs(form)" novalidate>

	        <div class="form-group">
	          <label>Email</label>
	          <input type="email" name="email" class="form-control" ng-model="main.email" placeholder="Email" required>
	        </div>

	        <div class="form-group">
	          <label>Pesan Anda</label>
	          <textarea name="message" class="form-control" ng-model="main.message" placeholder="Message" required></textarea>
	        </div>
	      
	        <div>
	          <button class="btn btn-primary btn-lg btn-login pull-right" type="submit">
	            Send
	          </button>
	        </div>
	      </form>
	    </div>
	    <div class="col-sm-2"></div>
    </div>
  </div>
  <hr>
</div>
