<div class="container">
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  	<h2 class="center-position brand-font">Ketentuan</h2><br>
	  	<p class="reg-font">
	  		<i>
	  			1) Pihak kuliner lezatku hanya menyediakan wadah untuk para pengusaha kuliner untuk membantu memasarkan product mereka lebih luas lagi, segala bentuk transaksi di serahkan langsung kepada penjual dan pembeli dari pihak kami sama sekali tidak memungut bayaran sedikitpun.<br>
		  		2) Segala bentuk keluhan mengenai makanan atau servis, harap di sampaikan langsung ke pihak penjual, karena sekali lagi di sini kami hanya mewadahi.<br>
		  		3) Segala bentuk penipuan dari penjual bukan tanggung jawab kami, jadi di mohon pembeli harus bijak dalam memilih penjual yang jujur dan recommended.
		  	</i>
	  	</p>
	  </div>
	  <div class="col-md-1"></div>
	</div>
</div>