<div class="container">
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  	<h2 class="center-position brand-font">Cara Menggunakan Kuliner Lezatku</h2><br>
	  	<div class="row reg-font">
	  		<div class="col-md-6">
	  			<table class="table table-striped">
					  <tr>
					  	<td class="center-position"><b>Penjual</b></td>
					  </tr>
					  <tr>
					  	<td>1) Daftar</td>
					  </tr>
					  <tr>
					  	<td>2) Konfirmasi email</td>
					  </tr>
					  <tr>
					  	<td>3) Upload product makanan anda</td>
					  </tr>
					  <tr>
					  	<td>4) Aktifkan feature delivery untuk menerima pesanan delivery (optional)</td>
					  </tr>
					  <tr>
					  	<td>5) Melihat persentase grafik bulanan mengenai kepuasan pelanggan terhadap product yang anda jual (optional)</td>
					  </tr>
					  <tr>
					  	<td>6) Setiap seminggu sekali anda bisa melakukan up per product agar product anda bisa naik ke puncak pencarian (optional)</td>
					  </tr>
					</table>
	  		</div>
	  		<div class="col-md-6">
	  			<table class="table table-striped">
	  				<tr>
					  	<td class="center-position"><b>Pembeli</b></td>
					  </tr>
					  <tr>
					  	<td>1) Pilih makanan yang kamu suka</td>
					  </tr>
					  <tr>
					  	<td>2) Review dahulu makanan yang akan di pesan dengan membaca komentar-komentar pembeli sebelumnya</td>
					  </tr>
					  <tr>
					  	<td>3) Hubungi penjual melalui no telephonnya langsung atau gunakan feature delivery kami untuk melakukan pemesanan (optional)</td>
					  </tr>
					  <tr>
					  	<td>4) Beri testimoni terhadap makanan yang tadi anda pesan (optional)</td>
					  </tr>
					  <tr>
					  	<td>5) Subscribe rumah makan yang anda sukai, dan dapatkan product terupdate mereka (optional)</td>
					  </tr>
	  			</table>
	  		</div>
	  	</div>
	  </div>
	  <div class="col-md-1"></div>
	</div>
</div>