<div class="container">
	<div class="row mtop-10per mbottom-10per" ng-if="item.loading == true">
	  <div class="col-md-1"></div>
	  <div class="col-md-10 center-position">
	  	<img src="/assets/images/loading.gif" class="loading"></img>
	  </div>
	  <div class="col-md-1"></div>
	</div>

	<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="it in item.awesomeItems.slice(((item.currentPage-1)*6), ((item.currentPage)*6))" ng-if="item.loading == false">
	  <li class="center-position brand-font">
	    <a ui-sref="preview({id: it._id, item: it})" tooltip="{{it.description}}">
	    	<h3>{{it.name}}</h3>
	    	<img class="item-image" src="{{it.image || '/assets/images/not-available.jpg'}}"></img>
	    	<h4>Posted by : {{it._user.name}}</h4>
	    	<h4>Last Activity : <span am-time-ago="it.created_at"></span></h4>	    	
	    </a>	    
	  </li>
	</ul>
</div>

<div class="container" ng-if="item.loading == false">
	<div class="row mbottom-10per">
		<div class="col-md-2"></div>
		<div class="col-md-8 center-position">
			<pagination total-items="item.totalItems" ng-model="item.currentPage" class="pagination-sm" items-per-page="6"></pagination>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>