/* margin */
.mtop-10per {
  margin-top:10%;
}

.mbottom-2per {
  margin-bottom:2%;
}

.mbottom-10per {
  margin-bottom:10%;
}

.mbottom-5per {
  margin-bottom:5%;
}

.mtop-4per {
  margin-top:4%;
}

.mleft-min3per {
  margin-left:-3%;
}

.mright-1per{
  margin-right:1% !important;
}

.mright-30per{
  margin-right:30% !important;
}

.mleft-6per {
  margin-left:6%;
}

.mleft-7per {
  margin-left:7%;
}

.mtop-100px {
  margin-top:100px;
}

.mbottom-100px {
  margin-bottom:100px;
}

.reject-mtop-4per {
  margin-top: -4%;
}

.reject-mtop-5per {
  margin-top: -5%;
}

.reject-mtop-6per {
  margin-top: -6%;
}

.reject-mtop-8per {
  margin-top: -8%;
}

/* image size */
.img-brand {
  height: 70px;
  width: 70px;
  margin-top:-30px;
}

.item-image {
  height: 200px;
  width: 250px;
  text-align: center;
}

.img-small {
  height: 200px;
  width: 150px;
}

/* color */
.white-background {
  background: white;
}

/* background */
.banner-background {
  background: url("/assets/images/back.jpg") no-repeat right; 
  height: 450px;
}

/* position */
.center-position {
  text-align: center;
}

/* font */
@font-face {
  font-family: 'YoungandBeautiful';
  src: url('/assets/fonts/YoungandBeautiful.ttf'); 
}

@font-face {
  font-family: 'Blackfat Demo';
  src: url('/assets/fonts/Blackfat Demo.ttf');
}

@font-face {
  font-family: 'Bulletto Killa';
  src: url('/assets/fonts/Bulletto Killa.ttf');
}

.brand-font {
  font-family: 'YoungandBeautiful';
}

.nav-menu-font {
  font-family: 'Blackfat Demo';
  font-size: 20px;
}

.log-font {
  font-family: 'Bulletto Killa';
  font-size: 30px;
}

.reg-font {
  font-family: Georgia, serif;
  font-size: 17px !important;
}

/* other */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#my-content {
   min-height:100%;
   position:relative;
}

.top-kuliner {
  background: white;
  border:1px solid white;
  height:60px;
  font-size: 40px;
  text-align: center;
}

.show-all-food {
  margin-top:50px;
  text-align:center;
  margin-bottom:30px;
}

.hr-modify {
  border: 1px solid;
  width: 95%;
}

.loading {
  height: 150px;
  width: 150px;
}

/* override */
















/*.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url("/assets/images/back.jpg") no-repeat center; 
}

.navbar-text {
  margin-left: 15px;
}

.center-position {
  text-align: center;
}

.font-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.item-showing {
  height: 200px;
  width: 350px;
}

.item-image {
  height: 100px;
  width: 150px;
}

.user-picture {
  height: 350px;
  width: 250px;
}

.loading {
  height: 150px;
  width: 150px;
}

p.indent-5 {
    text-indent: 50px;
}*/