<div ng-hide="nav.isLoggedIn()">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 reject-mtop-5per">
        <div class="jumbotron banner-background">        
          <div class="mleft-min3per">
            <h1 class="brand-font">Kuliner Lezatku</h1>
            <p class="reg-font">
              <i>Tentukan makanan yang kamu suka</i><br>
              <i>Pesan</i><br> 
              <i>Dan berikan penilaian makanannya di sini</i>
            </p>
            <p><a class="btn btn-primary btn-lg" ui-sref="how_to_use" role="button">How To Use</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 reject-mtop-8per">
        <hr class="hr-modify">
        <h1 class="top-kuliner nav-menu-font">Top Kuliner</h1>
        <hr class="hr-modify">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mbottom-100px">
      <div class="col-lg-12 center-position" ng-if="main.awesomeItems.length <= 0 && main.loading == false">
        <h3 class="reg-font">Top Kuliner Belum Tersedia</h3>
      </div>

      <div class="col-lg-12 center-position" ng-if="main.loading == true">
        <img src="/assets/images/loading.gif" class="loading"></img>
      </div>

      <div class="col-lg-12" ng-if="main.awesomeItems.length > 0 && main.loading == false">
        <div ng-include="'components/partial/top_kuliner.html'"></div>
      </div>
    </div>
  </div>
</div>

<div ng-show="nav.isLoggedIn()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="'components/partial/user_items.html'"></div>
        
        <!-- <tabset ng-if="main.loading == false">
          <tab heading="profile" active="true">
            <div ng-include="'components/partial/profile.html'"></div>
          </tab>
          <tab heading="item">
            <div ng-include="'components/partial/user_items.html'"></div>
          </tab>  
          <tab heading="report">
            report
          </tab>  
          <tab heading="upgrade">
            upgrade
          </tab>  
        </tabset> -->
      </div>
    </div>
  </div>
</div> 