<div class="container">
  <div class="row" ng-if="main.myParams == null">
  	<div class="col-md-12 center-position">Makanan yang akan di review tidak ada!</div>
  </div>

  <div class="row mbottom-100px" ng-if="main.myParams != null">
    <div ng-include="'components/partial/show_item.html'"></div> 
  </div>

  <div class="row" ng-if="main.myParams != null">
  	<div ng-include="'components/partial/comments.html'"></div> 
  </div>
</div>