<div class="container">
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  	<h2 class="center-position brand-font">Harga Paket</h2><br>
	  	<div class="row reg-font">
	  		<div class="col-md-3">
	  			<table class="table table-striped">
					  <tr>
					  	<td class="center-position"><b>Free</b></td>
					  </tr>
					  <tr>
					  	<td>1) Bisa upload 5 item</td>
					  </tr>
					  <tr>
					  	<td>2) Biaya bulanan gratis</td>
					  </tr>
					</table>
	  		</div>
	  		<div class="col-md-3">
	  			<table class="table table-striped">
					  <tr>
					  	<td class="center-position"><b>Reguler</b></td>
					  </tr>
					  <tr>
					  	<td>1) Bisa upload 20 item</td>
					  </tr>
					  <tr>
					  	<td>2) Bisa mengaktifkan feature up</td>
					  </tr>
					  <tr>
					  	<td>3) Bisa mengaktifkan feature delivery</td>
					  </tr>
					  <tr>
					  	<td>4) Biaya bulanan 50 rb</td>
					  </tr>
					</table>
	  		</div>
	  		<div class="col-md-3">
	  			<table class="table table-striped">
					  <tr>
					  	<td class="center-position"><b>Premium</b></td>
					  </tr>
					  <tr>
					  	<td>1) Bisa upload 50 item</td>
					  </tr>
					  <tr>
					  	<td>2) Bisa mengaktifkan feature up</td>
					  </tr>
					  <tr>
					  	<td>3) Bisa mengaktifkan feature delivery</td>
					  </tr>
					  <tr>
					  	<td>4) Bisa melihat persentase grafik bulanan mengenai kepuasan masyarakat terhadap product yang anda jual</td>
					  </tr>
					  <tr>
					  	<td>5) Biaya bulanan 100 rb</td>
					  </tr>
					</table>
	  		</div>
	  		<div class="col-md-3">
	  			<table class="table table-striped">
					  <tr>
					  	<td class="center-position"><b>Custom</b></td>
					  </tr>
					  <tr>
					  	<td>1) Bisa menentukan feature apa saja yang ingin anda tambahkan</td>
					  </tr>
					  <tr>
					  	<td>2) Biaya bulanan sesuai kesepakatan antara anda dan pihak kami</td>
					  </tr>
					</table>
	  		</div>
	  	</div>
	  </div>
	  <div class="col-md-1"></div>
	</div>
</div>