<div class="container" ng-if="main.isLoggedIn()">
  <div class="row">
    <div class="col-md-3 center-position"><img class="img-small" src="{{main.getCurrentUser().picture || '/assets/images/no-image-available.png'}}" alt="{{main.getCurrentUser().name}}"></img></div>
      
    <div class="col-md-9">
      <div ng-include="'components/partial/show_profile.html'"></div>
      <div ng-include="'components/partial/form_profile.html'"></div>
    </div>
  </div>
</div>

<div class="container" ng-if="!main.isLoggedIn()">
	<div class="row">
		<div class="col-md-12 center-position reg-font"><h4>Untuk mengakses halaman ini harus login terlebih dahulu.</h4></div>
	</div>
</div>