<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 center-position brand-font"><h4>Komentar Pembeli</h4></div>
    <div class="col-md-8">
      <table class="table table-striped" ng-if="main.comments.length == 0">
      	<tr class="reg-font"><td>Belum ada komentar di product ini</td></tr>
      </table>
    </div>
  </div>
</div>