<form role="form" class="mbottom-10per" name="formUser" ng-submit="main.updateUser(main.getCurrentUser())" ng-if="main.myProfile == false">
	<input type="hidden" ng-model="main.getCurrentUser()._id" value="{{main.getCurrentUser()._id}}"></input>
  <div class="form-group">
    <label for="name">Nama Rumah Makan</label>
    <input type="text" class="form-control" ng-model="main.getCurrentUser().name" id="name" placeholder="Name" required="required"></input>
  </div>
  <div class="form-group">
    <label for="address">Alamat</label>
    <textarea class="form-control" ng-model="main.getCurrentUser().address" id="address" placeholder="Address" required="required"></textarea>
  </div>
  <div class="form-group">
    <label for="phone_number">No Telphone (khusus delivery)</label>
    <input type="text" class="form-control" ng-model="main.getCurrentUser().phone_number" id="phone_number" placeholder="Phone Number" required="required"></input>
  </div>
  <div class="form-group">
    <label for="fb">Facebook</label>
    <input type="text" class="form-control" ng-model="main.getCurrentUser().fb_url" id="fb_url" placeholder="Facebook" required="required"></input>
  </div>
  <div class="form-group">
    <label for="twitter">Twitter</label>
    <input type="text" class="form-control" ng-model="main.getCurrentUser().twitter_url" id="twitter_url" placeholder="Twitter" required="required"></input>
  </div>
  <div class="form-group">
    <label for="ig">Instagram</label>
    <input type="text" class="form-control" ng-model="main.getCurrentUser().instagram_url" id="instagram_url" placeholder="Instagram" required="required"></input>
  </div>
  
  <button type="submit" class="btn btn-default">Update</button>
  <button class="btn btn-default pull-right" ng-click="main.cancelUser()">Cancel</button>
</form>