<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 center-position"><img src="{{main.myParams.image || '/assets/images/not-available.jpg'}}" class="item-image" alt="{{main.myParams.name}}"></img></div>
    <div class="col-md-4">
      <table class="table table-striped">
        <tr>
          <td><b>Nama</b></td>
          <td>{{main.myParams.name}}</td>
        </tr>
        <tr>
          <td><b>Deskripsi</b></td>
          <td>{{main.myParams.description}}</td>
        </tr>
        <tr>
          <td><b>Harga</b></td>
          <td>{{main.myParams.price}}</td>
        </tr>
        <tr>
          <td><b>Score</b></td>
          <td>{{main.myParams.score}}</td>
        </tr>     
      </table> 
    </div>
    <div class="col-md-4 center-position brand-font">
      <img src="{{main.myParams._user.picture || '/assets/images/no-image-available.png'}}" class="img-small" alt="{{main.myParams.user.name}}"></img>
      <h3>Rumah Makan {{main.myParams._user.name || 'tidak ada'}}</h3>
      <p class=" reg-font">
        {{main.myParams._user.address || 'tidak ada'}}<br>
        No Telphone : {{main.myParams._user.phone_number || '-'}}
      </p>
    </div>
  </div>
</div>