<table class="table table-striped" ng-if="main.myProfile == true">
  <tr>
    <td><b>Nama Rumah Makan</b></td>
    <td>{{main.getCurrentUser().name}}</td>
  </tr>
  <tr>
    <td><b>Alamat</b></td>
    <td>{{main.getCurrentUser().address}}</td>
  </tr>
  <tr>
    <td><b>No Telphone (khusus delivery)</b></td>
    <td>{{main.getCurrentUser().phone_number}}</td>
  </tr>
  <tr>
    <td><b>Facebook</b></td>
    <td>{{main.getCurrentUser().fb_url}}</td>
  </tr>
  <tr>
    <td><b>Twitter</b></td>
    <td>{{main.getCurrentUser().twitter_url}}</td>
  </tr>
  <tr>
    <td><b>Instagram</b></td>
    <td>{{main.getCurrentUser().instagram_url}}</td>
  </tr>
  <tr>
    <td></td>
    <td><button class="btn btn-default pull-right" ng-click="main.editUser()">Edit</button></td>
  </tr>
</table>