<div class="container">
	<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="item in main.awesomeItems">
	  <li class="center-position brand-font">
	    <a ui-sref="preview({id: item._id, item: item})" tooltip="{{item.description}}">
	    	<h3>{{item.name}}</h3>
	    	<img class="item-image" src="{{item.image || '/assets/images/not-available.jpg'}}"></img>
	    	<h4>Posted by : {{item._user.name}}</h4>
	    </a>	    
	  </li>
	</ul>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12 show-all-food">
			<a class="btn btn-success btn-lg" ui-sref="items" role="button">Show all</a>
		</div>
	</div>
</div>