<div class="container">
	<div class="row mbottom-2per" ng-if="main.userItems.length >= 0 && main.loading == false && main.statusNewItem == false">
	  <div class="col-md-9"></div>
		<div class="col-md-3">
			<a href="#" ng-click="main.newItem()" class="btn pull-right btn-primary mright-30per">New Item</a>
		</div>
	</div>

	<div class="row mbottom-2per center-position" ng-if="main.loading2 == true">
	<img src="/assets/images/loading2.gif"></img>
	</div>

	<div class="row mbottom-2per" ng-if="main.userItems.length >= 0 && main.loading == false && main.statusNewItem == true && main.loading2 == false">
	  <!-- <div class="col-md-9"></div>
		<div class="col-md-3">
			<a href="#" ng-click="main.cancelItem()" class="btn pull-right btn-default mright-30per">Cancel</a>
		</div> -->

		<div class="col-md-8">
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12">
			      <h1 class="brand-font">New Item</h1>
			    </div>
			    <div class="col-sm-12">
			      <form role="form" class="form" name="form" ng-submit="main.addNewItem(main.item, main.getCurrentUser())" method="post" enctype="multipart/form-data">
			        <div class="form-group">
			          <label>Name</label>
			          <input type="text" name="name" class="form-control" ng-model="main.item.name" placeholder="Name" required>
			        </div>

			        <div class="form-group">
			          <label>Description</label>

			          <textarea name="description" class="form-control" ng-model="main.item.description" placeholder="Description" required></textarea>
			        </div>

			        <div class="form-group">
			          <label>Picture</label>
			          <input type="file" name="image" file-input="files" class="form-control" ng-model="main.item.image" placeholder="Picture" required>
			        </div>

			        <div class="form-group">
			          <label>Price</label>
			          <input type="number" name="price" class="form-control" ng-model="main.item.price" placeholder="Price" required>
			        </div>

			        <div class="pull-right">
			          <button class="btn btn-primary" type="submit">Save</button>
			          <button class="btn btn-default" ng-click="main.cancelItem()">Cancel</button>
			        </div>

			      </form>
			    </div>
			  </div>
			  <hr>
			</div>

		</div>

	</div>
</div>

<div class="container">
	<div class="row mtop-10per mbottom-5per" ng-if="main.loading == true">
	  <div class="col-md-1"></div>
	  <div class="col-md-10 center-position">
	  	<img src="/assets/images/loading.gif" class="loading"></img>
	  </div>
	  <div class="col-md-1"></div>
	</div>

	<div class="row mtop-10per mbottom-5per" ng-if="main.userItems.length == 0 && (main.loading == false || main.loading2 == false)">
	  <div class="col-md-1"></div>
	  <div class="col-md-10 center-position">
	  	<h4 class="reg-font">Belum ada item</h4>
	  </div>
	  <div class="col-md-1"></div>
	</div>

	<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="item in main.userItems.slice(((main.currentPage-1)*6), ((main.currentPage)*6))" ng-if="main.userItems.length > 0 && main.loading == false">
	  <li class="center-position">
	    <a href="#" tooltip="{{item.description}}">{{item.name}}</a>
	    <img class="item-image" src="{{item.image || '/assets/images/not-available.jpg'}}"></img>
	  </li>
	</ul>
</div>

<div class="container" ng-if="main.userItems.length > 0 && main.loading == false">
	<div class="row mbottom-5per">
		<div class="col-md-2"></div>
		<div class="col-md-8 center-position">
			<pagination total-items="main.totalItems" ng-model="main.currentPage" class="pagination-sm" items-per-page="6"></pagination>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>